<h3 class="text-danger fw-bold mt-5">Comments</h3>
<%= "No comments, be the first on comment in this post" if @post.comments.blank? %>

<% i = 0 %>
<% @post.comments.each do |comment| %>
  <% i += 1 %>
  <div class="d-flex py-2 justify-content-between flex-row <%= 'bg-light' if i%2 != 0 %>">
    <div>
      <strong><%= comment.username %></strong>: <%= comment.body %>
    </div>
    <%= link_to [comment.post, comment], method: :delete,
                data: { confirm: "Are you sure?" },
                class: 'py-1 px-2 mx-2 text-dark' do %>
      <i class="fa fa-trash"></i>
      <% end %>
  </div>
<% end %>