<div class="card my-5">
  <div class="card-header fs-4 fw-bold text-danger">Add Comment</div>
  <div class="card-body">
    <%= form_for([@post, @post.comments.build]) do |f| %>
      <p>
        <%= f.label :username %><br>
        <%= f.text_field(:username, class: 'form-control') %>
      </p>
      <p>
        <%= f.label 'Comment' %><br>
        <%= f.text_area(:body, class: 'form-control') %>
      </p>
      <p>
        <%= f.submit(class: 'btn btn-danger fw-bold w-100') %>
      </p>
    <% end %>
  </div>
</div>